body {
  font-family: 'advent Pro',sans-serif;
  padding: 0;
  font-size: 14px;
  margin: 0;
}
p,h2{
  padding:5px;
}

section img {
  /* img dans les articles  */
  min-height: 300px;
  max-height: 300px;
}
section .card {
  /* card dans les articles  */
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
section .card:hover{
  /* effet zoom sur les cards  */
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn{
  margin: 5px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.img {
  /* img seconde page  */
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  background: #1C6EA4;
}

.descrip {  
  /* block de text seconde page  */
display: block;
margin: 20px auto;
max-width: 826px;
padding: 0 35px;
width: 100%;
}

@media (max-width: 576px) { 
  section .card:hover{
    transform: none;
  }
 }
